[submodule "scikit-learn"]
	path = scikit-learn
	url = ./scikit-learn
	datalad-id = 57c0213b-b63c-41dc-ac18-7bd0275d4309
[submodule "ml-basic"]
	path = ml-basic
	url = ./ml-basic
	datalad-id = d4d12b44-0701-4841-81a6-36c5f1354bd9
